<h1 class="text-center">Школа мужских стрижек HOOLiGANZ</h1>
<br><br>
<div class="row row-home">
	<div class="col-md-6">
		<p>Школа мужских стрижек HOOLiGANZ — это образовательный проект, который призван поднять мастерство парикмахеров на качественно новый уровень. Мы в максимально доступной форме делимся опытом со всеми желающими. Наши обучающие курсы познакомят вас не только с классическими, но и с современными мужскими стрижками, а так же с философией «мужского зала». По завершении курса каждый ученик получает именной сертификат HOOLiGANZ, который станет не просто украшением на вашей стене достижений, а позволит реально больше зарабатывать!</p>
	</div>
	<div class="col-md-6"><%= image_tag("clippers.jpg", class: 'half-screen-img') %></div>
</div>

<div class="row row-home">
	<div class="col-md-6 pull-right">
		<p>В основе всех курсов школы лежит авторская техника HOOLiGANZ. Мы постарались абстрагироваться от всех ныне существующих техник и создать интуитивно понятную и удобную, на наш взгляд, систему стрижки. Главным в прическе мы считаем не ее актуальность в смысле моды, не сложность, и даже не точность ее исполнения, а то, на сколько она гармонирует с человеком, который ее носит. Поэтому, прежде всего, мы учим видеть форму. Максимум практики и минимум теории, именно такой подход считаем единственно правильным.</p>
	</div>
	<div class="col-md-6"><%= image_tag("tools.jpg", class: 'half-screen-img') %></div>
</div>

<div class="row row-home">
	<div class="col-md-6">
		<p>Антон Шмелев — основатель и тренер Школы мужских стрижек HOOLiGANZ. Технолог-эксперт крупного косметического бренда, победитель и лауреат российских и международных конкурсов. В деле с 2005 года, за его плечами Университет, Профессиональный Лицей, школы Toni & Guy, Dessange, Mod’s Hair, Sassoon. Проходил обучение у Vivica Davies и Jack Cunningham.</p>
	</div>
	<div class="col-md-6"><%= image_tag("fist.jpg", class: 'half-screen-img') %></div>
</div>