<div class="row">
	<div class="col-md-8">
		<h2>Мужские работы No.1</h2>
		<h4>Базовый курс</h4>
		<p>Основы техники HOOLiGANZ. Продолжительность 5 дней. Курс создан для начинающих и практикующих мастеров, которые желают совершенствовать свои навыки мужской стрижки. Современная классика, базовые формы. Принципы работы машинками и ножницами, тушевка, текстурирование, работа опасной бритвой, стайлинг. Мастерам иметь при себе весь инструмент!</p>
	</div>
	<div class="col-md-4">

	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<h2>Мужские работы No.2</h2>
		<h4>Прогрессивный&nbsp;двухдневный&nbsp;курс (для&nbsp;мастеров&nbsp;с&nbsp;опытом&nbsp;от&nbsp;года)</h4>
		<p>Это сезонная коллекция из 5 стрижек от HOOLiGANZ. Современные тенденции и мода. Работа машинкой, ножницами, опасной и филировочной бритвами, элементы hair design и hair chalking, дизайн бороды и усов, екстурирование, стайлинг. Первый день — демонстрация, второй — отработка. Мастерам иметь при себе весь инструмент!</p>
	</div>
	<div class="col-md-4">

	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<h2>Индивидуальное обучение (1-2 человека)</h2>
		<h4>Условия и стоимость обговариваются индивидуально</h4>
	</div>
	<div class="col-md-4">

	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<h2>Выезд с мастер-классом в салон или другой город</h2>
	</div>
	<div class="col-md-4">

	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<h2>Подготовка персонала для барбершопов</h2>
		<h4>Администраторов и мастеров</h4>
	</div>
	<div class="col-md-4">
		
	</div>
</div>





