/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require magnific-popup
 *= require jquery-ui

 */

@import "bootstrap-sprockets";
@import "bootstrap";

* {
	margin: 0;
	outline: none;
}
html {
	position: relative;
	min-height: 100%;
}
body {
/* Margin bottom by footer height */
	margin-bottom: 320px;
	font-family: 'PT Sans', sans-serif;
}
p {
	font-size: 1.1em;
	color: #222;
}
a {
	text-decoration: underline;
	color: #222;
	transition: linear 0.2s;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
	&:hover {
		color: #222;
	}
}
a>.glyphicon{
	transition: linear 0.2s;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
}
a>.glyphicon:hover{
	color: #888;
}
a, a img {
	outline: none;
	border: none;
	&:focus {
		outline: none;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Serif', serif;
}
h1 {
	line-height: 1.3;
}
h4 {
	font-size: 20px;
}
input {
	border-radius: 0px !important;
}
.form {
	width: 100%;
	padding: 5px 7px;
	color: #222;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}
.image-submit{
	@extend .form;
	width: calc(100% - 80px);
}
textarea { 
	@extend .form;
	height: 150px;
	&.textarea-50 {
		height: 50px;
	}
	&.textarea-80 {
		height: 80px;
	}
}
.relative {
	position: relative;
}
.btn{
	transition: linear 0.2s;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;
	border-radius: 0px;
	border: 1px solid;
	text-decoration: none;
	&:hover, &:active, &:focus {
		background-color: #e6e6e6 !important;
		color: #333 !important;
		border-color: #999 !important;
	}
}
.btn-default {
	background-color: #999;
	color: #fff;
	border-color: #999;
}
.btn-primary {
	background-color: #555;
	color: #efefef;
	border-color: #555;
}
.btn-footer {
	background-color: #efefef;
	color: #222;
	border: 1px solid #efefef;
	&:hover, &:active, &:focus {
		background-color: #555 !important;
		color: #efefef !important;
	}
}
.alert {
	border-radius: 0px;
}
.mbottom20 {
	margin-bottom: 20px;
}
.hidden, .nickname {
	display: none;
}
.no-border {
	border: 0px;
	text-decoration: none;
}

//Header

#logo{
	width: 300px;
}
#header-stripe{
	width: 100%;
	height: 60px;
	background: #222;
	position: absolute;
	margin-top: 49px;
	z-index: -1;
}
.navbar-static-top{
	margin-top:20px;
	margin-bottom: 15px;
	.navbar-nav{
		margin-top: 49px;
	}
	.navbar-nav > li > a {
		font-family: 'PT serif', serif;
		font-size: 22px;
		padding: 20px 15px;
		background: #222;
		color: #efefef;
		text-decoration: none;
		transition: linear 0.2s;
		-webkit-transition: linear 0.2s;
		-moz-transition: linear 0.2s;
		&:hover, &:active {
			background: #efefef;
			color: #222;
		}
	}
	button {
		margin-top: 49px;
		height: 60px;
		border-radius: 0px;
		.icon-bar{
			background-color: #efefef;
			height: 3px;
			width: 30px;
		}
	}
}
.nav-current-page>a{
	background: #efefef !important;
	color: #222 !important;
}
.navbar-toggle{
	margin-right: 0px;
}
.navbar-toggle .icon-bar + .icon-bar{
	margin-top: 7px;
}
@media (max-width: 988px) {
	.navbar-static-top .navbar-nav{
		margin-top: 10px;
	}
	.navbar-toggle {
			display: block;
	}
	.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
			display: none!important;
	}
	.navbar-nav {
			float: none!important;
			margin: 7.5px -15px;
	}
	.navbar-nav>li {
			float: none;
	}
	.navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;
	}
	.navbar-text {
			float: none;
			margin: 15px 0;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in { 
			display: block!important;
	}
	.collapsing {
			overflow: hidden!important;
	}
}

//Content
#main-content{
	padding-bottom: 30px;
	.row {
		margin-bottom: 10px;
	}
	.row-home{
		margin-bottom: 35px;
	}
}
.full-width-img {
	width: 100%;
}
.half-width-img {
	width: calc(50% - 15px);
	float: left;
	&.left{
		margin-right: 15px;
	}
	&.right{
		margin-left: 15px;
	}
}
.gallery {
	margin-top: 15px;
	padding-top: 32px;
}
.gallery-thumb {
	width: 100%;
}
.wrapper {
	width:100%;
	height: 100%;
	position: relative;
	min-height:100%;
	display: inline-block;
}
.unit{
	margin-bottom: 30px;
}
.well{
	background-color: #efefef;
	border-radius: 0px;
	box-shadow: none;
	border: 0px;
} 
.page-standout {
	margin: 15px 15px 0px 15px;
}
.side-button {
	width: default;
	position: absolute;
	top: 0;
	right: 0;
	&.margin {
		margin-right: 15px; 
	}
}
.corner-button {
	font-size: 32px;
}
.form-group {
	margin: 0px;
}
.gallery-item {
	margin-top: 15px;
	background-color: #efefef; 
}
.photo-caption {
	padding: 15px;
	height: 72px;
	overflow: hidden;
}
.admin-add-photo-heading {
	position: relative;
}
.admin-add-photo {
	color: #333333;
	margin-left: 15px;
	font-size: 16px;
	text-decoration: none;
	border-bottom: dashed 1px;
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: #333333;
	}
}
.admin-add-photos {
	margin-bottom: 20px;
	img {
		width: 100%;
		margin-bottom: 5px;
	}
}
.admin-add-training-pictures {
	margin-bottom: 20px;
	img {
		width: 100%;
		margin-bottom: 5px;
	}
}
.admin-icon-corner {
	position: absolute;
	top: 0;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	-khtml-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	font-size: 26px;
	border: 0px;
	color: #333333;
	z-index: 1;
	background-color: transparent;
	&:hover, &:active, &:focus {
		color: #999999;
	}
}
.admin-icon-submit {
	@extend .admin-icon-corner;
	top: -1px;
	right: 0;
}
.admin-icon-return {
	@extend .admin-icon-corner;
	right: 50px;
}
.contacts-icon {
	width: 60px;
	margin-right: 11px;
}
.contacts-page-info {
	font-size: 1.1em;
}
.news-date {
	color: #777;
	font-style: italic;
	margin-top: -20px;
}
.news-thumbnail {
	width: 150px;
	height: 150px;
	float: left;
	padding: 10px 10px 0px 0px;
}
.news-preview {
	width: calc(100% - 150px);
	float: left;
}
.news-admin-meta {
	width: 278px;
	float: left;
}
.news-admin-thumb {
	float: left;
	height: 92px;
	width: 92px;
	margin: 25px 15px 0px 15px;
}
.news-admin-add-thumb {
	float: left;
	width: calc(100% - 400px);
	& input {
		height: 93px;
	}
}


//Footer

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 320px;
	background-color: #222;
	color: #efefef;
	padding: 40px 0;
	h3 {
		margin-top: 0px;
		margin-bottom: 20px;
		white-space: nowrap;
	}
	p {
		margin-bottom: 5px;
		color: #efefef;
		white-space: nowrap;
	}
	a {
		color: #efefef;
	}
	.form{
		border: none;
	}
}
.footer-icon{
	width: 50px;
	margin-right: 9px;
}
#contact-form .btn {
	@extend .btn-footer;
	width: 100%;
	font-size: 1.1em;
}
.footer-name{
	
}
.footer-contact{

}
.footer-message{
	height: 120px;
}
@media (max-width: 768px) {
	#contact-form {
		margin-top: 30px;
	}
	.footer{
		height: 545px;
	}
	body {
		margin-bottom: 545px;
	}
}
.relative{
	position: relative;
}
#copy, #login{
	padding-left: 15px;
}
#copy-xs{
	padding-top: 25px;
	text-align: center;
}
.pull-down{
	position: absolute;
	bottom: 0;
}
#social{
	white-space: nowrap;
	a{
		text-decoration: none;
	}
}

// Magnific Popup settings
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
	max-width: 5%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
	max-width: 100%;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
	max-width: 5%;
}