<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-6">
				<h3 id="contacts">Контакты</h3>
				<p><i class="glyphicon glyphicon-map-marker"></i> Новосибирск, Россия</p>
				<p><i class="glyphicon glyphicon-phone"></i> +7 913 381 1213</p>
				<p><i class="glyphicon glyphicon-globe"></i> vk.com/shmelevanton</p>
				<p><i class="glyphicon glyphicon-envelope"></i> hooliganz-school@mail.ru</p>
			</div>
			<div class="col-sm-3 col-xs-6">
				<h3>Мы в соц. сетях</h3>
				<p><%= link_to "ВКонтакте", "https://vk.com/barbering", target: "_blank" %></p>
				<p><%= link_to "Instagram", "https://instagram.com/hooliganzschool/", target: "_blank" %></p>
				<p><%= link_to "YouTube", "https://www.youtube.com/channel/UCQjpdylJCxp8Cjy6hOEedyA/feed", target: "_blank" %></p>
			</div>
			<div id="contact-form" class="col-sm-5 col-xs-12">
				<p><input type="text" id="footer-name" class="footer-form" placeholder="Имя"></p>
				<p><input type="text" id="footer-email" class="footer-form" placeholder="Электропочта"></p>
				<p><textarea id="footer-message" class="footer-form" placeholder="Сообщение" name="text"></textarea></p>
				<p><button class="btn btn-primary">Отправить сообщение</button></p>
			</div>
		</div>
	</div>
</div>